@using ViewCompFinal.ViewComponents
@model List<TodoItem>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>
    Ggg ViewComponent
</h3>
<div>
    @foreach (TodoItem item in Model)
    {
        <p>
            @item.Priority&nbsp;@item.IsDone
        </p>
    }
</div>