@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Hello from GggRazorClassLib!</h2>
<p> From  \GggRazorClassLib\Areas\MyFeature\Pages\Page2.cshtml</p>
<p>
    This view is overriden by WebApp1
</p>
<partial name="_Message" />