
@{
    ViewData["Title"] = "Filter Examples";
}

<h2>Filter Examples - Index</h2>
<p>
    <a href="http://localhost:11780/filterexamples">
        http://localhost:11780/filterexamples
    </a>
</p>

