@{
    ViewData["Title"] = "Home Page";
}

@{
    List<dynamic> filterItems = new List<dynamic>();
    filterItems.Add(new
    {
        Url = "http://localhost:11781/filterexamples"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/en-en/Culture/CultureFromRouteData"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/fr-fr/Culture/CultureFromRouteData"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/DependencyInjectionSample"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/HeaderSecurity"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/SampleActionFilter"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/sample/SomeResource"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/TypeFilterSample/Hi"
    });
    filterItems.Add(new
    {
        Url = "http://localhost:11781/ValidateModel"
    });

    List<dynamic> loggingItems = new List<dynamic>();
    loggingItems.Add(new
    {
        Url = "http://localhost:11781/ToDo/GetById/1"
    });
    loggingItems.Add(new
    {
        Url = "http://localhost:11781/ToDo2/GetById/1"
    }); loggingItems.Add(new
    {
        Url = "http://localhost:11781/ToDo2/GetById2/1?title=hello"
    });
}


<h2>Filters</h2>
<table class="table">
    @foreach (dynamic filter in filterItems)
    {
        <tr>
            <td>
                <a href="@filter.Url">@filter.Url</a>
            </td>
        </tr>
    }
</table>

<h2>Logging in ASP.NET Core</h2>

<table class="table">
    @foreach (dynamic item in loggingItems)
    {
        <tr>
            <td>
                <a href="@item.Url">@item.Url</a>
            </td>
        </tr>
    }
</table>
