@page
@using Data
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Contacts</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer contact in Model.Customers)
            {
                <tr>
                    <td>@contact.Id</td>
                    <td>@contact.Name</td>
                    <td>
                        @*Anchor Tag Helper in ASP.NET Core*@
                        @*https://github.com/aspnet/Docs/blob/master/aspnetcore/mvc/views/tag-helpers/built-in/anchor-tag-helper.md*@
                        <a asp-page="./Edit" asp-route-id="@contact.Id">edit</a>
                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@contact.Id">
                            delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./Create">Create</a>
</form>
