@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Hello from a WebApp1!</h2>
<p> From  \WebApp1\Areas\MyFeature\Pages\Page2.cshtml</p>
<p>
    When a view, partial view, or Razor Page is found in both the web app and the Razor Class Library,
    the Razor markup (.cshtml file) in the web app takes precedence. For example,
    add WebApp1/Areas/MyFeature/Pages/Page1.cshtml to WebApp1, and Page1 in the WebApp1 will
    take precedence over Page1 in the Razor Class Library.
</p>
<partial name="_Message" />