@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table-condensed table-bordered">
    <tr>
        <td>
            Title:	ImportExport - intro

        </td>
        <td>
            <a href="/ImportExport">/ImportExport</a>
        </td>
    </tr>
</table>
